<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CertiTrust - Creating Trust Online</title>

    <!-- Bootstrap Core CSS -->
    <link href="/../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/../public/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/../public/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="public/css/jquery.selectbox.css" type="text/css" rel="stylesheet" />

    <!-- Angular -->
    <script src="/../public/js/angular.min.js"></script>
    <script src="/../public/js/play_stop.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- jQuery -->
    <script src="/../public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/../public/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/../public/js/sb-admin-2.js"></script>    
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">CertiTrust</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>[Name]</strong>
                                    <span class="pull-right text-muted">
                                        <em>[when]</em>
                                    </span>
                                </div>
                                <div>[What]</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>[Name]</strong>
                                    <span class="pull-right text-muted">
                                        <em>[When]</em>
                                    </span>
                                </div>
                                <div>[What]</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    New Notif
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    New Notif
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Notifications</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i>Certificates</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Balance <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Current Balance</a>
                                </li>
                                <li>
                                    <a href="#">Charge</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>                                             
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- page-wrapper -->
        <div id="page-wrapper">
        	
            	<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Certificate</h1>
                    <div class="row">
                    <div class="col-lg-8">
                        <div class="panel panel-default w90">
                            <div class="panel-heading">
                                Create New Certificate
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-xs" href="create_cert.html">
                                            <i class="fa fa-plus"></i>Create
                                        </a>
            					    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!--If Ada Certificate-->
                    
                        <ul class="list-unstyled">
                            <li>
                                <div class="repostyle"><p>[Certificate's Name]</p></div>
                                <div class="btn-group">
                                        <a class="btn btn-default btn-xs" href="addrepo">
                                            Settings
                                        </a>
                                </div>
                            </li>                                  
                        </ul>
                    
                </div>
                </div>     
        	
       </div>  <!-- end page-wrapper -->
    </div>    <!--end wrapper-->

</body>

</html>
