<!DOCTYPE html>
<html lang="en">
<head>
  <title>Error -  CertiTrust</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="public/css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="public/css/style2.css" type="text/css" media="all">
  <link rel="stylesheet" href="public/css/zerogrid.css">
  <link rel="stylesheet" href="public/css/responsive.css">
  <link rel="stylesheet" href="public/css/responsiveslides.css" />
  <script type="text/javascript" src="public/js/jquery-1.4.2.min.js" ></script>
  <script type="text/javascript" src="public/js/cufon-yui.js"></script>
  <script type="text/javascript" src="public/js/Humanst521_BT_400.font.js"></script>
  <script type="text/javascript" src="public/js/Humanst521_Lt_BT_400.font.js"></script>
  <script type="text/javascript" src="public/js/roundabout.js"></script>
  <script type="text/javascript" src="public/js/roundabout_shapes.js"></script>
  <script type="text/javascript" src="public/js/gallery_init.js"></script>
  <script type="text/javascript" src="public/js/cufon-replace.js"></script>
  <script src="public/js/css3-mediaqueries.js"></script>
  <!--[if lt IE 7]>
    <link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="all">
  <![endif]-->
  <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/IE9.js"></script>
  <![endif]-->
  
  <script src="public/js/responsiveslides.js"></script>
  <script>
    $(function () {
      $("#slider").responsiveSlides({
      auto: true,
      pager: false,
      nav: true,
      speed: 500,
      maxwidth: 962,
      namespace: "centered-btns"
      });
    });
  </script>
  
</head>

<body>
  <!-- header -->
  <header>
    <div class="container">
      <h1><a href="index.html">CertiTrust</a></h1>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CertiTrust - Creating Trust Online</title>
      <nav>
        <ul>
          <li><a href="/" class="current">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="privacy.html">Feature</a></li>          
          <li><a href="contacts.html">Register</a></li>
          <li><a href="/login_page">Log in</a></li>
        </ul>
      </nav>
    </div>
  </header>

<div class="main-box">
    <div class="container">
        <div class="inside">
            <div class="wrapper zerogrid">
                <h2 style="text-align: center">Error Page : <%= status %> </h2>

                <h3 style="text-align: center"><%= message %> </h3>
            </div>
        </div>
    </div>
</div>

  
  <!-- footer -->
  <footer>
    <div class="container">
      <div class="wrapper">
        <div class="fleft">Copyright - KIJ GGWP 2015</div>
        <div class="fright"><a rel="nofollow" href="http://www.templatesmonster.com" target="_blank">Website Templates</a> by TemplateMonster.com <br/> <a rel="nofollow" href="http://www.zerotheme.com" target="_blank">Responsive Themes</a> by Zerotheme.com</div>
      </div>
    </div>
  </footer>
  <script type="text/javascript"> Cufon.now(); </script>

</html>
