<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home | CertiTrust - Creating Trust Online</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="public/css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="public/css/style2.css" type="text/css" media="all">
  <link rel="stylesheet" href="public/css/zerogrid.css">
  <link rel="stylesheet" href="public/css/responsive.css">
  <link rel="stylesheet" href="public/css/responsiveslides.css" />
  <script type="text/javascript" src="public/js/jquery-1.4.2.min.js" ></script>
  <script type="text/javascript" src="public/js/cufon-yui.js"></script>
  <script type="text/javascript" src="public/js/Humanst521_BT_400.font.js"></script>
  <script type="text/javascript" src="public/js/Humanst521_Lt_BT_400.font.js"></script>
  <script type="text/javascript" src="public/js/roundabout.js"></script>
  <script type="text/javascript" src="public/js/roundabout_shapes.js"></script>
  <script type="text/javascript" src="public/js/gallery_init.js"></script>
  <script type="text/javascript" src="public/js/cufon-replace.js"></script>
  <script src="public/js/css3-mediaqueries.js"></script>
  <!--[if lt IE 7]>
    <link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="all">
  <![endif]-->
  <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/IE9.js"></script>
  <![endif]-->
  
  <script src="public/js/responsiveslides.js"></script>
  <script>
    $(function () {
      $("#slider").responsiveSlides({
      auto: true,
      pager: false,
      nav: true,
      speed: 500,
      maxwidth: 962,
      namespace: "centered-btns"
      });
    });
  </script>
  
</head>

<body>
  <!-- header -->
  <header>
    <div class="container">
      <h1><a href="/">CertiTrust</a></h1>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CertiTrust - Creating Trust Online</title>
      <nav>
        <ul>
          <li><a href="/" class="current">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/feature">Feature</a></li>          
          <li><a href="/register">Register</a></li>
          <li><a href="/login_page">Log in</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- #gallery -->
  <section id="gallery">
    <div class="container">
      <ul id="myRoundabout">
        <li><img src="public/img/slide3.jpg" alt=""></li>
        <li><img src="public/img/slide2.jpg" alt=""></li>
        <li><img src="public/img/slide5.jpg" alt=""></li>
        <li><img src="public/img/slide1.jpg" alt=""></li>
        <li><img src="public/img/slide4.jpg" alt=""></li>
      </ul>
    </div>
  </section>
  <section id="res-slider">
    <div class="slider">
    <div class="rslides_container">
      <ul class="rslides" id="slider">
        <li><img src="public/img/slide3.jpg" alt=""></li>
            <li><img src="public/img/slide2.jpg" alt=""></li>
            <li><img src="public/img/slide5.jpg" alt=""></li>
            <li><img src="public/img/slide1.jpg" alt=""></li>
            <li><img src="public/img/slide4.jpg" alt=""></li>
      </ul>
    </div>
  </div>
  </section>
  <!-- /#gallery -->

  <div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="wrapper zerogrid">
      <div class="row">
          <!-- aside -->
      <div class="col-1-3">
        <div class="wrap-col">
              <aside>
                <h2>Recent <span>News</span></h2>
                <!-- .news -->
                <ul class="news">
                  <li>
                    <figure><strong>22</strong>June</figure>
                    <h3><a href="#">Sed ut perspiciatis unde</a></h3>
                    Domnis iste natus error sit voluptam accusa doloremque <a href="#">...</a>
                  </li>
                  <li>
                    <figure><strong>09</strong>June</figure>
                    <h3><a href="#">Totam rem aperiam</a></h3>
                    Eaqueipsa quae abillo inventoretis et quasi architecto beatae <a href="#">...</a>
                  </li>
                  <li>
                    <figure><strong>31</strong>May</figure>
                    <h3><a href="#">Inventore veritatis et quasi</a></h3>
                    Architecto beatae vitae dicta sunt explicabo <a href="#">...</a>
                  </li>
                  <li>
                    <figure><strong>25</strong>May</figure>
                    <h3><a href="#">Nemo enim ipsam</a></h3>
                    Voluptatem quia voluptas sit asper natur aut odit aut fugit <a href="#">...</a>
                  </li>
                </ul>
                <!-- /.news -->
              </aside>  
        </div>
      </div>
          <!-- content -->
      <div class="col-2-3">
        <div class="wrap-col">
              <section id="content">
                <article>
                  <h2>Welcome to <span>CertiTrust</span></h2>
                  <p>CertiTrust Certificate is the quickest and most cost effective way for an online business to protect customer transactions. Apart from their low cost, each certificate also comes with a great value-added package, which makes them perfect for small to medium size businesses. Choosing CertiTrust means your site will enjoy the highest security levels and you'll also receive additional tools that will win customer trust and increase sales conversions.</p>

                  <p>To learn how to use our service, you can see the guide on 'Feature' page. Please contact us ( +6285859499066 ) if you have any questions about CertiTrust or are interested in doing business with CertiTrust.</p>

                </article> 
              </section>
        </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer>
    <div class="container">
      <div class="wrapper">
        <div class="fleft">Copyright - KIJ GGWP 2015</div>
        <div class="fright"><a rel="nofollow" href="http://www.templatesmonster.com" target="_blank">Website Templates</a> by TemplateMonster.com <br/> <a rel="nofollow" href="http://www.zerotheme.com" target="_blank">Responsive Themes</a> by Zerotheme.com</div>
      </div>
    </div>
  </footer>
  <script type="text/javascript"> Cufon.now(); </script>

</html>
