<!DOCTYPE html>
<html lang="en">
<head>
  <title>Log in - CertiTrust</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="public/css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="public/css/style2.css" type="text/css" media="all">
  <link rel="stylesheet" href="public/css/zerogrid.css">
  <link rel="stylesheet" href="public/css/responsive.css">
  <link rel="stylesheet" href="public/css/responsiveslides.css" />
  <script type="text/javascript" src="public/js/jquery-1.4.2.min.js" ></script>
  <script type="text/javascript" src="public/js/cufon-yui.js"></script>
  <script type="text/javascript" src="public/js/Humanst521_BT_400.font.js"></script>
  <script type="text/javascript" src="public/js/Humanst521_Lt_BT_400.font.js"></script>
  <script type="text/javascript" src="public/js/roundabout.js"></script>
  <script type="text/javascript" src="public/js/roundabout_shapes.js"></script>
  <script type="text/javascript" src="public/js/gallery_init.js"></script>
  <script type="text/javascript" src="public/js/cufon-replace.js"></script>
  <script src="public/js/css3-mediaqueries.js"></script>
  <!--[if lt IE 7]>
    <link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="all">
  <![endif]-->
  <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/IE9.js"></script>
  <![endif]-->
  
  <script src="public/js/responsiveslides.js"></script>
  <script>
    $(function () {
      $("#slider").responsiveSlides({
      auto: true,
      pager: false,
      nav: true,
      speed: 500,
      maxwidth: 962,
      namespace: "centered-btns"
      });
    });
  </script>
  
</head>

<body>
  <!-- header -->
  <header>
    <div class="container">
      <h1><a href="index.html">CertiTrust</a></h1>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CertiTrust - Creating Trust Online</title>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="privacy.html">Feature</a></li>          
          <li><a href="contacts.html">Register</a></li>
          <li><a href="/login_page" class="current">Log in</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="wrapper zerogrid">
          <div class="row">

            <!-- aside -->
            <div class="col-1-3">
              <div class="wrap-col">
                    <aside>
                      <h2>Recent <span>News</span></h2>
                      <!-- .news -->
                      <ul class="news">
                        <li>
                          <figure><strong>22</strong>June</figure>
                          <h3><a href="#">Sed ut perspiciatis unde</a></h3>
                          Domnis iste natus error sit voluptam accusa doloremque <a href="#">...</a>
                        </li>
                        <li>
                          <figure><strong>09</strong>June</figure>
                          <h3><a href="#">Totam rem aperiam</a></h3>
                          Eaqueipsa quae abillo inventoretis et quasi architecto beatae <a href="#">...</a>
                        </li>
                        <li>
                          <figure><strong>31</strong>May</figure>
                          <h3><a href="#">Inventore veritatis et quasi</a></h3>
                          Architecto beatae vitae dicta sunt explicabo <a href="#">...</a>
                        </li>
                        <li>
                          <figure><strong>25</strong>May</figure>
                          <h3><a href="#">Nemo enim ipsam</a></h3>
                          Voluptatem quia voluptas sit asper natur aut odit aut fugit <a href="#">...</a>
                        </li>
                      </ul>
                      <!-- /.news -->
                    </aside>  
              </div>
            </div>

          <!-- content -->
      <div class="col-2-3">
        <div class="wrap-col">
              <section id="content">
                <form class="login_form style-1">
                  <h3>Username</h3><input type="text" name="username">
                  <br><br>                  
                  <h3>Password</h3><input type="password" name="username">
                  <br><br>
                  <button type="submit" class="button">Log in</button>
                  <br><br>
                  <p>Don't have an account ? <a href="/register">Click here</a></p>
                </form>

              </section>
        </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer>
    <div class="container">
      <div class="wrapper">
        <div class="fleft">Copyright - Type in your name here</div>
        <div class="fright"><a rel="nofollow" href="http://www.templatesmonster.com" target="_blank">Website Templates</a> by TemplateMonster.com <br/> <a rel="nofollow" href="http://www.zerotheme.com" target="_blank">Responsive Themes</a> by Zerotheme.com</div>
      </div>
    </div>
  </footer>
  <script type="text/javascript"> Cufon.now(); </script>

</html>
