<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register - CertiTrust</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="public/css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="public/css/style2.css" type="text/css" media="all">
  <link rel="stylesheet" href="public/css/zerogrid.css">
  <link rel="stylesheet" href="public/css/responsive.css">
  <link rel="stylesheet" href="public/css/responsiveslides.css" />
  <script type="text/javascript" src="public/js/jquery-1.4.2.min.js" ></script>
  <script type="text/javascript" src="public/js/cufon-yui.js"></script>
  <script type="text/javascript" src="public/js/Humanst521_BT_400.font.js"></script>
  <script type="text/javascript" src="public/js/Humanst521_Lt_BT_400.font.js"></script>
  <script type="text/javascript" src="public/js/roundabout.js"></script>
  <script type="text/javascript" src="public/js/roundabout_shapes.js"></script>
  <script type="text/javascript" src="public/js/gallery_init.js"></script>
  <script type="text/javascript" src="public/js/cufon-replace.js"></script>
  <script src="public/js/css3-mediaqueries.js"></script>
  <!--[if lt IE 7]>
    <link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="all">
  <![endif]-->
  <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/IE9.js"></script>
  <![endif]-->
  
  <script src="public/js/responsiveslides.js"></script>
  <script>
    $(function () {
      $("#slider").responsiveSlides({
      auto: true,
      pager: false,
      nav: true,
      speed: 500,
      maxwidth: 962,
      namespace: "centered-btns"
      });
    });
  </script>
  
</head>

<body>
  <!-- header -->
  <header>
    <div class="container">
      <h1><a href="index.html">CertiTrust</a></h1>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CertiTrust - Creating Trust Online</title>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="privacy.html">Feature</a></li>          
          <li><a href="/register" class="current">Register</a></li>
          <li><a href="/login_page">Log in</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="wrapper zerogrid">
          <div class="row">

            <!-- content -->
            <div class="col-2-3">
              <div class="wrap-col">
                    <h2>CertiTrust Registration</h2>
                    <p>
                    At DigiCert we are proud to collaborate with any of our customers or partners. We love to share our top-shelf certificates and award-winning customer support with your customers and prospects. Regardless of whether you wish to pass along occasional referrals or plan to have an integrated program for your clients where you order and maintain SSL Certificates on their behalf we have programs to fit your needs.
                    </p>
                    <section id="content">
                      <form class="register_form style-1">
                        <h3><strong>Organization Details</strong></h3>
                        <hr>
                        <h3>Organization Name</h3>
                        <input class="reg_field" type="text" name="org_name">
                        <h3>Address</h3>
                        <input class="reg_field" type="text" name="org_address">
                        <h3>City</h3>
                        <input class="reg_field" type="text" name="org_city">
                        <h3>State/Province/Region</h3>
                        <input class="reg_field" type="text" name="org_state">
                        <h3>Zip/Postal Code</h3>
                        <input class="reg_field" type="text" name="org_zip">
                        <h3>Country</h3>
                        <input class="reg_field" type="text" name="org_country">

                        <br><br>
                        <h3><strong>Organization Contact Person</strong></h3>
                        <hr>
                        <h3>Job Title</h3>
                        <input class="reg_field" type="text" name="cp_job">
                        <h3>First Name</h3>
                        <input class="reg_field" type="text" name="cp_fname">
                        <h3>Last Name</h3>
                        <input class="reg_field" type="text" name="cp_lname">
                        <h3>Contact Email</h3>
                        <input class="reg_field" type="text" name="cp_email">
                        <h3>Contact telephone</h3>
                        <input class="reg_field" type="text" name="cp_telephone">

                        <br><br>
                        <h3><strong>Account Details</strong></h3>
                        <hr>
                        <h3>Username</h3>
                        <input class="reg_field" type="text" name="username">
                        <h3>Password</h3>
                        <input class="reg_field" type="password" name="password">
                        <h3>Confirm Password</h3>
                        <input class="reg_field" type="password" name="con_password">
                        <h3>Company Type</h3>
                        <select>
                          <option value="1">Hosting Company/ISP</option>
                          <option value="2">System Integrator/MSP</option>
                          <option value="3">IT Consultant</option>
                          <option value="4">Software Vendor/Developer</option>
                          <option value="5">Individual</option>
                          <option value="6">Affiliate</option>
                          <option value="7">Other</option>
                        </select>

                        <br><br>
                        <p>By clicking Register button, you already agreed to our <a href="#">terms & agreement</a></p>
                        <button type="submit" class="button">Register</button>
                        
                      </form>

                    </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer>
    <div class="container">
      <div class="wrapper">
        <div class="fleft">Copyright - KIJ GGWP 2015</div>
        <div class="fright"><a rel="nofollow" href="http://www.templatesmonster.com" target="_blank">Website Templates</a> by TemplateMonster.com <br/> <a rel="nofollow" href="http://www.zerotheme.com" target="_blank">Responsive Themes</a> by Zerotheme.com</div>
      </div>
    </div>
  </footer>
  <script type="text/javascript"> Cufon.now(); </script>

</html>
